.login-container{
  width: 100vw; height: 100vh;
  display: flex;
  overflow: hidden;
}

.buttons-form{
  margin-top: 1em;
}

.form{
  width: 100%; height: 100%;
  flex-shrink: .5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form{
    width: 20em; height: 25em;

    label{
      display: block;
    }
  }
}


.image-aside{
  width: 100%; height: 100%;

  img{
    object-fit: 1;
  }
}