// Componentes UI
$input-bg: #E7F2FC;
$input-color: #8083A3;
$button-form: #4A74C6;


// Cores Textos
$titulo-color: #1A1C1D;
$label-color: #383838;


// Fontes Textos
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;