.contact-details-container{
  // background: red;
  width: 90%;

  margin: 2em auto;


  // Rever
  h3{
    padding-left: 0;
  }

  .contact-actions{

    margin-top: 1em;

    ul{
      display: flex;

      .nav-item{  
        color: #8083A3;
        font-size: 1em;
        padding: .5em;
        border: 2px solid #4f699e41;
        margin-right: .5em;
      
        &:hover{
          cursor: pointer;
          background: #DEE3F8;
          color: #4A74C6;
        }

        .fas.fa-star{
          color: #eeb422;
        }
      }
    }
  }
}

.contact-details{

  margin-top: 2em;

  .contact-data-item{
    width: 20em;
    margin: .5em 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover{
      background: #dee3f841;
    }
  }
}